@media (max-width:768px){
    .photo-gallery{
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header nav {
        margin-bottom: 10px;
    }

    .hero {
        padding: 170px 10px;
        min-height: auto;
        flex-direction: column;
    }

    .hero .img {
        width: 80%;
        margin: auto;
        order: -1;
        margin-bottom: 30px;
    }

    .hero .desc {
        width: 80%;
        text-align: center;
    }

    .hero .desc .btns {
        justify-content: center;
    }

    .hero .desc .btns #book-btn {
        margin-right: 15px;
    }

    .chefs {
        width: 90%;
        margin: auto;
    }

    .chefs .container {
        flex-direction: column;
    }

    .chefs .container .card {
        width: 80%;
        margin-bottom: 50px;
    }

    footer .container {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    footer .container .about {
        width: 100%;
    }

    footer .container .subscription {
        order: 2;
        width: 100%;
    }

    footer .container .subscription .subscription-box .subscription-group {
        flex-direction: column;
        row-gap: 10px;
    }

    footer .container .subscription .subscription-box .subscription-group input {
        width: 100%;
    }

    footer .container .contact-details {
        width: 100%;
        order: 2;
        margin-top: 15px;
    }
}

@media (max-width:990px) {
    .hero {
        padding: 170px 10px;
        min-height: auto;
        flex-direction: column;
    }

    .hero .img {
        width: 80%;
        margin: auto;
        order: -1;
        margin-bottom: 30px;
    }

    .hero .desc {
        width: 80%;
        text-align: center;
    }

    .hero .desc .btns {
        justify-content: center;
    }

    .contact .map {
        width: 93%;
    }

    .contact .details {
        width: 93%;
        flex-direction: column;
    }

    .contact .details .box {
        width: 100%;
    }

    form {
        width: 93%;
    }

    form .personal-info {
        flex-direction: column;
        row-gap: 25px;
    }

    form .personal-info input {
        width: 100%;
    }

    footer .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .container .contact-details {
        width: 40%;
    }

    footer .container .about {
        width: 40%;
        margin-right: 15px;
    }

    footer .container .subscription {
        order: 2;
        width: 90%;
        margin: auto;
    }
}