@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* NavBar */

header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    z-index: 999;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
}

.logo h1 a {
    font-family: system-ui;
    font-weight: 700;
    color: #212529;
    font-size: 30px;
    text-decoration: none;
}

.logo h1 a::after {
    content: ".";
    color: red;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-family: system-ui;
    color: #7f7f90;
    font-size: 17px;
    font-weight: 600;
    padding: 1px 10px;
    position: relative;
    transition: all 0.5s;
}

nav ul li a:hover {
    color: #000;
}

.dark-icon a i {
    font-size: 25px;
    line-height: 25px;
    color: #212529;
    font-weight: 900;
}

/* Hero Section */

.hero {
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px 25px 100px;
}

.hero .img {
    width: 40%;
    filter: drop-shadow(4px 4px 9px #000a);
}

.hero .img img {
    width: 100%;
}

.hero .img img:hover {
    animation: shake 1s infinite;
}

.hero .desc {
    width: 40%;
}

.hero .desc h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #37373f;
    margin-bottom: 33px;
}

.hero .desc p {
    color: #4f4f5a;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: "Open Sans", system-ui;
    margin-bottom: 25px;
}

.hero .desc .btns {
    display: flex;
    align-items: center;
}

.hero .desc .btns #book-btn {
    color: white;
    background-color: #ce1212;
    font-family: "Open Sans", system-ui;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 0 22px 22px 22px;
    transition: all 0.7s;
    margin-right: 33px;
}

.hero .desc .btns #book-btn:hover {
    background-color: red;
}

.hero .desc .btns #watch-btn {
    color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-family: "Open Sans", system-ui;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 20px;
    transition: all 0.7s;
    border-radius: 22px;
}

.hero .desc .btns #watch-btn i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 15px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    color: #000;
}

.hero .desc .btns #watch-btn:hover {
    color: red;
}

.hero .desc .btns #watch-btn:hover i {
    color: red;
}

/* Chefs Section */

.chefs {
    width: 100%;
    padding-bottom: 75px;
}

.chefs .head {
    text-align: center;
    padding: 100px 0 50px 0;
}

.chefs .head h2 {
    color: #7f7f90;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.chefs .head p {
    font-weight: 400;
    font-size: 50px;
    color: #212529;
    font-family: "Amatic SC", sans-serif;
    text-transform: uppercase;
}

.chefs .head p span {
    color: #ce1212;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.card {
    width: 30%;
    text-align: center;
    border-radius: 10px;
    transition: all 0.7s;
    position: relative;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .iconz {
    opacity: 1;
    right: 10px;
}

.card img {
    width: 100%;
}


.card .content {
    padding: 10px 30px 30px 20px;
}

.card h3 {
    margin-top: 15px;
    color: #212529;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.card span {
    color: #7f7f90;
    font-weight: 400;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card p {
    margin-top: 15px;
    color: #7f7f90;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.card .iconz {
    position: absolute;
    top: 15px;
    right: -50px;
    opacity: 0;
    transition: all 0.4s 0.7s;
    border-radius: 10px;
    background-color: #ffffff4d;
}

.card .iconz ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 150px;
    padding: 10px 15px;
}

.card .iconz ul li {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0px;
}
.card .iconz ul li a {
    color: #37373f66;
}

.card .iconz ul li a:hover {
    color: #37373fe6;
}

/* Gallery Section */

.gallery {
    width: 100%;
    padding: 0 0 40px 0;
    background-color: #eee;
}

.gallery .head {
    text-align: center;
    padding: 100px 0 50px 0;
}

.gallery .head h2 {
    color: #7f7f90;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.gallery .head p {
    font-weight: 400;
    font-size: 50px;
    color: #212529;
    font-family: "Amatic SC", sans-serif;
    text-transform: uppercase;
}

.gallery .head p span {
    color: #ce1212;
}

.photo-gallery {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
}

.photo-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-gallery .column .photo {
    position: relative;
    overflow: hidden;
}

.photo-gallery .column .photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.5s;
}

.photo-gallery .column .photo .layer {
    background-color: #00000096;
    color: #eee;
    position: absolute;
    top: 101%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s;
    text-align: center;
    padding: 10px;
}

.photo-gallery .column .photo:hover .layer {
    opacity: 1;
    top: 0;
}

.photo-gallery .column .photo:hover img {
    transform: scale(1.1);
}

/* Contact Section */

.contact {
    width: 100%;
    padding-bottom: 75px;
}

.contact .head {
    text-align: center;
    padding: 100px 0 50px 0;
}

.contact .head h2 {
    color: #7f7f90;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.contact .head p {
    font-weight: 400;
    font-size: 50px;
    color: #212529;
    font-family: "Amatic SC", sans-serif;
    text-transform: uppercase;
}

.contact .head p span {
    color: #ce1212;
}

.contact .map {
    width: 80%;
    margin: auto;
}

.contact .map iframe {
    width: 100%;
}

.contact .details {
    width: 80%;
    margin: 25px auto;
    /* background-color: royalblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    row-gap: 15px;
}

.contact .details .box {
    width: 49%;
    padding: 20px 30px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #eee;
}

.contact .details .box .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: #ce1212;
    border-radius: 50%;
    margin-right: 25px;
}

.contact .details .box .content h3 {
    color: #7d7d7d;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.contact .details .box .content p {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 16px;
    color: #212529;
}

.contact .details .box .content p span {
    font-weight: 700;
}

.contact .details .box .content a {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 16px;
    color: #212529;
    text-decoration: none;
}

form {
    width: 80%;
    /* background-color: cornflowerblue; */
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 22px 15px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
}

form .item {
    width: 100%;
    /* background-color: bisque; */
    text-align: center;
}

form .personal-info {
    display: flex;
    justify-content: space-between;
}

form .personal-info input {
    width: 49%;
    height: 50px;
    padding: 15px;
}

form .Subject input {
    width: 100%;
    height: 50px;
    padding: 15px;
}

form .message textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
}

form .item button {
    margin: 25px;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #ce1212;
    border: solid #ce1212;
    transition: all 0.5s;
    color: white;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    font-weight: 400;
}

form .item button:hover {
    background-color: red;
    border: solid red;
}

/* Footer Section */

footer {
    width: 100%;
    /* height: 50vh; */
    background-image: url(imgs/textured-metal-background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 33px 40px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about {
    width: 25%;
}

.logo {
    display: flex;
    margin-bottom: 20px;
}

.logo img {
    width: 40px;
    margin-right: 15px;
}

.logo h2 {
    font-family: system-ui;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

.logo h2::after {
    content: ".";
    color: red;
}

.about p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 25px;
}

.about h3 {
    text-align: center;
    margin-bottom: 5px;
}

.about ul {
    margin: 20px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.about ul li a {
    color: white;
    font-size: 25px;
}

.contact-details {
    width: 25%;
}

.contact-details h3 {
    padding-top: 5px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 700;
    font-family: Inter, sans-serif;
}

.contact-details ul {
    list-style-type: none;
}

.contact-details ul li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.contact-details ul li i {
    font-size: 22px;
    margin-right: 10px;
    color: #ce1212;
}

.contact-details ul li span {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
}

.contact-details ul li a {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.subscription {
    width: 75%;
    padding: 0 33px;
}

.subscription .subscription-box h3 {
    padding-top: 5px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 700;
    font-family: Inter, sans-serif;
}

.subscription .subscription-box p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 25px;
}

.subscription .subscription-box .subscription-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription .subscription-box .subscription-group input {
    width: 83%;
    height: 40px;
    padding: 15px;
}

.subscription .subscription-box .subscription-group button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    padding: 15px 10px;
    /* border-radius: 25px; */
    background-color: #ce1212;
    border: solid #ce1212;
    transition: all 0.5s;
    color: white;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    font-weight: 400;
}

.subscription .subscription-box .subscription-group button:hover {
    background-color: red;
    border: solid red;
}

.subscription .subscription-box .subscription-group button i {
    margin-right: 5px;
    font-size: 20px;
    position: relative;
    top: 30%;
}

.subscription .quick-links h3 {
    padding-top: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 700;
    font-family: Inter, sans-serif;
}

.subscription .quick-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5px;
    list-style-type: none;
}

.subscription .quick-links ul li {
    /* background-color: cornflowerblue; */
    padding: 5px;
    width: 49%;
    transition: all 0.5s;
}

.subscription .quick-links ul li:hover {
    transform: scale(1.1);
    background-color: rgb(108, 108, 108);
}

.subscription .quick-links ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.subscription .quick-links ul li::before {
    content: ">";
    margin-right: 5px;
    color: white;
    font-size: 18px;
    font-weight: 900;
}